<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="godogi_pos_pos_listing_data_source" xsi:type="string">Godogi\Pos\Model\ResourceModel\Pos\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Godogi\Pos\Model\ResourceModel\Pos\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">godogi_pos</argument>
            <argument name="resourceModel" xsi:type="string">Godogi\Pos\Model\ResourceModel\Pos</argument>
        </arguments>
    </virtualType>
</config>
